<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ember</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>{{#link-to 'notes'}}Notes{{/link-to}}</li>
            <li>{{#link-to 'notes.new'}}Add New{{/link-to}}</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container">
{{outlet}}

	<h3>Count: {{model.length}}</h3>
	<div class="row">
		{{#each model as |item|}}
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">{{item.title}}</div>
				<div class="panel-body">
					Author: {{item.author}}<br />
					{{!-- Contents: {{item.content}} --}}
				</div>
				</div>
			</div>
		{{/each}}
	</div>

</div>

